flask
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
flask-bcrypt
python-dotenv
marshmallow
marshmallow-sqlalchemy
alembic
psycopg2-binary
python-slugify
pillow
stripe
pytest
pytest-flask
pytest-cov
factory-boy
faker